.geo-address {
    display: flex;
    gap: 15px;

    padding: 30px 0 40px;
    border-bottom: 1px solid rgba($color: #98A4AE, $alpha: .5);
    cursor: pointer;

    @include media(max, desktop) {
        padding: 30px 0;
        &::after {
            content: '';
            display: block;
            margin-left: auto;
            margin-top: 5px;
            width: 15px;
            height: 15px;
            background-image: url('data:image/svg+xml,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 6L7.5 10L4 6" stroke="black" stroke-linecap="square" stroke-linejoin="round"/></svg>');
        }

        &.active {
            .geo-address__collapse {
                display: block !important;
            }

            &::after {
                transform: rotate(180deg);
            }
        }
    }

    &.active,
    &:hover {
        .geo-address__icon {
            &::before {
                opacity: 0;
            }
            &::after {
                opacity: 1;
            }
        }
        
    }

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }

    &__name {
        max-width: 220px;
    }

    &__collapse {
        @include media(max, desktop) {
            display: none;
        }
    }

    &__icon {
        position: relative;
        min-width: 24px;
        height: 24px;

        @include media(max, desktop) {
            min-width: 20px;
            height: 20px;
        }

        &::after, &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: all .2s ease;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }

        &::before {
            background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.62 8.45C19.57 3.83 15.54 1.75 12 1.75C12 1.75 12 1.75 11.99 1.75C8.46 1.75 4.42 3.82 3.37 8.44C2.2 13.6 5.36 17.97 8.22 20.72C9.28 21.74 10.64 22.25 12 22.25C13.36 22.25 14.72 21.74 15.77 20.72C18.63 17.97 21.79 13.61 20.62 8.45ZM12 13.46C10.26 13.46 8.85 12.05 8.85 10.31C8.85 8.57 10.26 7.16 12 7.16C13.74 7.16 15.15 8.57 15.15 10.31C15.15 12.05 13.74 13.46 12 13.46Z" fill="%2398A4AE"/></svg>');
        }

        &::after {
            background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.62 8.45C19.57 3.83 15.54 1.75 12 1.75C12 1.75 12 1.75 11.99 1.75C8.46 1.75 4.42 3.82 3.37 8.44C2.2 13.6 5.36 17.97 8.22 20.72C9.28 21.74 10.64 22.25 12 22.25C13.36 22.25 14.72 21.74 15.77 20.72C18.63 17.97 21.79 13.61 20.62 8.45ZM12 13.46C10.26 13.46 8.85 12.05 8.85 10.31C8.85 8.57 10.26 7.16 12 7.16C13.74 7.16 15.15 8.57 15.15 10.31C15.15 12.05 13.74 13.46 12 13.46Z" fill="%2318984E"/></svg>');
            opacity: 0;
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &__download-link,
    &__detail-link  {
        display: inline-block;
    }

    &__download-link {
        margin-top: 20px;
    }

    &__detail-link {
        margin-top: 5px;
    }

    &__content {
        display: none;

        @include media(max, desktop) {
            margin-top: 20px;
            display: block;
        }
    }
}

.geography {

    &__title {
        @include media(max, tablet) {
            font-size: 20px;
            line-height: 28px;
        }
    }

    &__descr {
        p:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    &__address-popup {
        padding: 25px 35px 30px;
        position: absolute;
        width: 310px;
        
        color: var(--color-white);
        background-color: var(--color-green);
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease;

        @include media(max, desktop) {
            display: none !important;
        }

        &.show {
            opacity: 1;
            visibility: visible;
        }

        &::after {
            content: '';
            position: absolute;
            width: 35px;
            height: 66px;

            background-image: url('data:image/svg+xml,<svg width="35" height="66" viewBox="0 0 35 66" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.262451 41.5C16.7624 41.5 26.6878 47.2842 34.2626 66L34.2626 -5.08671e-06L0.262451 41.5Z" fill="%2318984E"/></svg>');
        }

        & > * {
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }

        .geo-address__download-link {
            color: var(--color-white);

            &:hover {
                color: var(--color-black);
            }

            &::before {
                background-image: url('data:image/svg+xml,<svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2412_193)"><path d="M2 2.5L11.1924 11.6924" stroke="black" stroke-width="1.2" stroke-linecap="square"/><path d="M11.4853 3.5V11.9853H3.00001" stroke="black" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/></g><defs><clipPath id="clip0_2412_193"><rect width="13" height="13" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>');
            }

            &::after {
                background-image: url('data:image/svg+xml,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2180_6866)"><path d="M2.5 2.5L11.6924 11.6924" stroke="white" stroke-width="1.2" stroke-linecap="square"/><path d="M11.9853 3.5V11.9853H3.50001" stroke="white" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/></g><defs><clipPath id="clip0_2180_6866"><rect width="13" height="13" fill="white" transform="translate(0.5 0.5)"/></clipPath></defs></svg>');
            }
        }
    }

    &__mark {
        display: none;
        position: absolute;
        left: 28%;
        top: 34%;
        width: 28px;
        height: 36px;
        background-image: url('data:image/svg+xml,<svg width="28" height="36" viewBox="0 0 28 36" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="13.8896" cy="13.2487" r="5.44042" fill="white"/><path d="M27.5427 10.7901C25.8949 3.5397 19.5704 0.275452 14.0149 0.275452C14.0149 0.275452 14.0149 0.275452 13.9992 0.275452C8.4594 0.275452 2.11922 3.52401 0.471405 10.7744C-1.36474 18.8723 3.59441 25.7303 8.08276 30.046L13.9992 35.0104L19.9314 30.046C24.4197 25.7303 29.3789 18.888 27.5427 10.7901ZM14.0149 18.6525C11.2842 18.6525 9.07145 16.4398 9.07145 13.7091C9.07145 10.9784 11.2842 8.76564 14.0149 8.76564C16.7456 8.76564 18.9584 10.9784 18.9584 13.7091C18.9584 16.4398 16.7456 18.6525 14.0149 18.6525Z" fill="%23FFB81C"/></svg>');
    
        @include media(max, desktop) {
            display: block;
        }
    }

    &__planet {
        @include media(max, tablet) {
            display: none !important;
        }
    }

    &__grid {
        @include media(max, tablet) {
            display: block !important;
        }
    }

    &_main {
        .geography {
            &__title {
                margin-bottom: 70px;
        
                @include media(max, desktop) {
                    margin-bottom: 40px;
                }

                @include media(max, tablet) {
                    margin-bottom: 30px;
                }
            }
        
            &__grid {
                display: grid;
                grid-template-columns: 50% auto;
                grid-template-rows: auto 120px auto;
                column-gap: 175px;
                margin-left: 115px;
                align-items: flex-start;
        
                @include media(max, desktop) {
                    grid-template-columns: 365px auto;
                    grid-template-rows: auto;
                    margin-left: 0;
                    column-gap: 0;
                }
        
            }

            &__descr {
                display: flex;
                flex-direction: column;
                grid-column: 1 / 1 span;
                grid-row: 1 / 1 span;
        
                @include media(max, desktop) {
                    br {
                        display: none;
                    }
                }
        
        
                p {
                    border-left: 2px solid #00816D;
                    padding-left: 30px;
                    margin-bottom: 30px;
        
                    @include media(max, tablet) {
                        padding-left: 15px;
                    }
        
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        
            &__subtitle {
                grid-column: 2 / 1 span;
                grid-row: 1 / 1 span;
        
                margin-bottom: 60px;
        
                @include media(max, desktop) {
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 22px;
                    margin-bottom: 0;
        
                    max-width: 293px;
                    margin-left: auto;
                }
        
        
                @include media(max, tablet) {
                    margin-left: 0;
                    margin-top: 50px;
                }
            }
        
            &__planet {
                position: relative;
                display: flex;
        
                grid-column: 1 / 1 span;
                grid-row: 2 / 2 span;
        
                @include media(max, desktop) {
                    grid-row: 3 / 1 span;
                    margin-right: 72px;
                }
        
                img {
                    width: 575px;
                    height: auto;
                }
            }
            
            &__tabs {
                grid-column: 2 / 1 span;
                grid-row: 2 / 1 span;
        
                margin-top: 40px;
        
                @include media(max, desktop) {
                    grid-column: 1 / 2 span;
                    margin: 70px 0 60px;
                }
        
                @include media(max, tablet) {
                    margin: 30px 0 50px;
                }
            }
        
            &__tabs-content {
                grid-column: 2 / 1 span;
                grid-row: 3 / 1 span;
        
                @include media(max, desktop) {
                    grid-row: 3 / 1 span;
                }
            }

            &__address-popup {
                left: -115px;
                top: -47px;
                border-radius: 23px 23px 0px 23px;

                &::after {
                    right: -1px;
                    bottom: -24px;
                }
            }
        }
    }

    &_about {
        .geography {
            &__grid {
                display: grid;
                align-items: flex-start;
                grid-template-columns: auto 45%;
                grid-template-rows: auto auto 150px 1fr;
                column-gap: 125px;
                margin-right: 120px;

                @include media(max, desktop) {
                    grid-template-columns: 354px auto;
                    grid-template-rows: auto;
                    column-gap: 0;
                    margin-right: 0;
                }
            }

            &__title {
                grid-column: 1;
                grid-row: 1;
                
                @include media(max, desktop) {
                    grid-column: 1 / 2 span;
                }
            }

            &__descr {
                margin-top: 40px;
                grid-column: 1;
                grid-row: 2;
                max-width: 280px;

                @include media(max, desktop) {
                    grid-column: 1 / 2 span;

                    margin-top: 20px;
                    max-width: 415px;
                }
            }

            &__tabs {
                margin-top: 70px;
                grid-column: 1;
                grid-row: 3;

                @include media(max, desktop) {
                    grid-column: 1 / 2 span;
                    margin: 50px 0 60px;
                }

                @include media(max, tablet) {
                    margin: 40px 0 50px;
                }
            }

            &__tabs-content {
                grid-column: 1;
                grid-row: 4;
            }

            &__planet {
                position: relative;
                margin-top: 60px;

                grid-column: 2;
                grid-row: 4 span;

                @include media(max, desktop) {
                    margin-top: 0;
                    margin-left: 71px;
                }
            }

            &__address-popup {
                right: -120px;
                bottom: -90px;
                border-radius: 0 23px 23px 23px;

                &::after {
                    left: -1px;
                    top: -24px;
                    transform: scale(-1, -1);
                }
            }
            
        }
    }
}