<section class="section section_bordered">
    <div class="container">
        <div class="geography geography_about">
            
            <div class="geography__grid">
                <h2 class="geography__title h2">
                    Наша гордость - <br>
                    наши предприятия
                </h2>
                <div class="geography__descr">
                    <p>
                        Расположение наших предприятий позволяет нам находиться рядом с каждым нашим покупателем.
                    </p>
                </div>
                <div class="geography__tabs tabs-default">
                    <ul class="tabs-default__list  list-reset" data-tabs>
                        <li class="tabs-default__item">
                            <a class="tabs-default__link" href="#corrugated-packaging-addresses" data-tabby-default>Гофроупаковка</a>
                        </li>
                        <li class="tabs-default__item">
                            <a class="tabs-default__link" href="#containerboard-addresses">Тарный картон</a>
                        </li>
                        <li class="tabs-default__item">
                            <a class="tabs-default__link" href="#recycling-addresses">Ресайклинг</a>
                        </li>
                    </ul>
                </div>
                <div class="geography__tabs-content">
                    <div id="corrugated-packaging-addresses">
                        <div class="geo-address" data-mark-coords='{ "left":"28%", "top": "34%" }'>
                            <div class="geo-address__icon"></div>
                            <div class="geo-address__wrapper">
                                <span class="geo-address__name">СФТ Пакеджинг Кувшиново, Тверская область</span>
                                <div class="geo-address__collapse">
                                    <div class="geo-address__content">
                                        <p>
                                            г. Майкоппер. Профсоюзный, 2
                                        </p>
                                        <p>
                                            8 800 600 98 00 
                                        </p>
                                        <a class="geo-address__download-link link-arrow link-arrow_green" href="#" download>Скачать схему проезда</a>
                                    </div>
                                    <button class="geo-address__detail-link link-arrow link-arrow_green" data-modal="#modal-about-detail">Подробнее о заводе</button>    
                                </div>
                            </div>
                        </div>
                        <div class="geo-address" data-mark-coords='{ "left":"27%", "top": "32%" }'>
                            <div class="geo-address__icon"></div>
                            <div class="geo-address__wrapper">
                                <span class="geo-address__name">СФТ Пакеджинг Таганрог, Ростовская область</span>
                                <div class="geo-address__collapse">
                                    <div class="geo-address__content">
                                        <p>
                                            г. Майкоппер. Профсоюзный, 3
                                        </p>
                                        <p>
                                            8 800 600 98 00 
                                        </p>
                                        <a class="geo-address__download-link link-arrow link-arrow_green" href="#" download>Скачать схему проезда</a>
                                    </div>
                                    <button class="geo-address__detail-link link-arrow link-arrow_green" data-modal="#modal-about-detail">Подробнее о заводе</button>
                                </div>
                            </div>
                        </div>
                        <div class="geo-address" data-mark-coords='{ "left":"29%", "top": "34.5%" }'>
                            <div class="geo-address__icon"></div>
                            <div class="geo-address__wrapper">
                                <span class="geo-address__name">СФТ Пакеджинг Майкоп, респ. Адыгея</span>
                                <div class="geo-address__collapse">
                                    <div class="geo-address__content">
                                        <p>
                                            г. Майкоппер. Профсоюзный, 4
                                        </p>
                                        <p>
                                            8 800 600 98 00 
                                        </p>
                                        <a class="geo-address__download-link link-arrow link-arrow_green" href="#" download>Скачать схему проезда</a>
                                    </div>
                                    <button class="geo-address__detail-link link-arrow link-arrow_green" data-modal="#modal-about-detail">Подробнее о заводе</button>
                                </div>
                            </div>
                        </div>
                        <div class="geo-address" data-mark-coords='{ "left":"28.2%", "top": "35.5%" }'>
                            <div class="geo-address__icon"></div>
                            <div class="geo-address__wrapper">
                                <span class="geo-address__name">СФТ Пакеджинг Алексин, Тульская область</span>
                                <div class="geo-address__collapse">
                                    <div class="geo-address__content">
                                        <p>
                                            г. Майкоппер. Профсоюзный, 5
                                        </p>
                                        <p>
                                            8 800 600 98 00 
                                        </p>
                                        <a class="geo-address__download-link link-arrow link-arrow_green" href="#" download>Скачать схему проезда</a>
                                    </div>
                                    <button class="geo-address__detail-link link-arrow link-arrow_green" data-modal="#modal-about-detail">Подробнее о заводе</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="containerboard-addresses">
                        <div class="geo-address" data-mark-coords='{ "left":"26.5%", "top": "41.3%" }'>
                            <div class="geo-address__icon"></div>
                            <div class="geo-address__wrapper">
                                <span class="geo-address__name">СФТ Пакеджинг Кувшиново, Тверская область</span>
                                <div class="geo-address__collapse">        
                                    <div class="geo-address__content">
                                        <p>
                                            г. Майкоппер. Профсоюзный, 
                                        </p>
                                        <p>
                                            8 800 600 98 00 
                                        </p>
                                        <a class="geo-address__download-link link-arrow link-arrow_green" href="#" download>Скачать схему проезда</a>
                                    </div>
                                    <button class="geo-address__detail-link link-arrow link-arrow_green" data-modal="#modal-about-detail">Подробнее о заводе</button>
                                </div>
                            </div>
                        </div>
                        <div class="geo-address" data-mark-coords='{ "left":"25%", "top": "45%" }'>
                            <div class="geo-address__icon"></div>
                            <div class="geo-address__wrapper">
                                <span class="geo-address__name">СФТ Пакеджинг Таганрог, Ростовская область</span>
                                <div class="geo-address__collapse">
                                    <div class="geo-address__content">
                                        <p>
                                            г. Майкоппер. Профсоюзный, 2
                                        </p>
                                        <p>
                                            8 800 600 98 00 
                                        </p>
                                        <a class="geo-address__download-link link-arrow link-arrow_green" href="#" download>Скачать схему проезда</a>
                                    </div>
                                    <button class="geo-address__detail-link link-arrow link-arrow_green" data-modal="#modal-about-detail">Подробнее о заводе</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="recycling-addresses">
                        <div class="geo-address" data-mark-coords='{ "left":"25.5%", "top": "46%" }'>
                            <div class="geo-address__icon"></div>
                            <div class="geo-address__wrapper">
                                <span class="geo-address__name">СФТ Пакеджинг Кувшиново, Тверская область</span>
                                <div class="geo-address__collapse">
                                    <div class="geo-address__content">
                                        <p>
                                            г. Майкоппер. Профсоюзный, 2
                                        </p>
                                        <p>
                                            8 800 600 98 00 
                                        </p>
                                        <a class="geo-address__download-link link-arrow link-arrow_green" href="#" download>Скачать схему проезда</a>
                                    </div>
                                    <button class="geo-address__detail-link link-arrow link-arrow_green" data-modal="#modal-about-detail">Подробнее о заводе</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="geography__planet">
                    <img
                        width="575"
                        height="575"
                        src="/assets/img/planet.svg"
                        alt="Глобус"
                    >
                    <div class="geography__mark"></div>
                </div>
            </div>
        </div>
    </div>
</section>