<section class="fleet section">
    <div class="container fleet__container">

        <div class="fleet__info">

            <div class="fleet__top">

                <h2 class="fleet__title">Автопарк</h2>

                <p class="fleet__subtitle h2">Вы можете заказать вывоз вторичных ресурсов</p>

            </div>

            <div class="fleet__descr">
                <p>Наш автопарк включает в себя свыше 47 транспортных единиц. Все машины оснащены весами, с погрузкой помогают грузчики
                </p>

                <p>Вывоз и прием вторсырья осуществляем ежедневно и круглосуточно, без выходных</p>
            </div>

        </div>

        <div class="fleet__block">
            <div class="fleet__slider swiper">
                <div class="fleet__arrows swiper-buttons-static">
                    <div class="swiper-button-default swiper-button-default_white swiper-button-prev fleet__prev"></div>
                    <div class="swiper-button-default swiper-button-default_white swiper-button-next fleet__next"></div>
                </div>

                <div class="fleet__wrapper swiper-wrapper">

                    <div class="fleet__slide swiper-slide glassy-card">
                        <div class="fleet__inner glassy-card__wrapper">
                            <div class="fleet__icon">
                                <img src="/assets/img/fleet/fleet-icon.svg" alt="">
                            </div>

                            <div class="fleet__about">
                                <span class="fleet__brand">а/м Фотон</span>
                                <span class="fleet__tonnage">вместительность до 1 тонны</span>
                            </div>
                        </div>
                    </div>

                    <div class="fleet__slide swiper-slide glassy-card">
                        <div class="fleet__inner glassy-card__wrapper">
                            <div class="fleet__icon">
                                <img src="/assets/img/fleet/fleet-icon.svg" alt="">
                            </div>

                            <div class="fleet__about">
                                <span class="fleet__brand">а/м Газель</span>
                                <span class="fleet__tonnage">вместимость до 5 тонн</span>
                            </div>

                        </div>
                    </div>

                    <div class="fleet__slide swiper-slide glassy-card">
                        <div class="fleet__inner glassy-card__wrapper">
                            <div class="fleet__icon">
                                <img src="/assets/img/fleet/fleet-icon.svg" alt="">
                            </div>

                            <div class="fleet__about">
                                <span class="fleet__brand">а/м Газель и Hyundail</span>
                                <span class="fleet__tonnage">вместительность до 3,5 тонны</span>
                            </div>

                        </div>
                    </div>

                    <div class="fleet__slide swiper-slide glassy-card">
                        <div class="fleet__inner glassy-card__wrapper">
                            <div class="fleet__icon">
                                <img src="/assets/img/fleet/fleet-icon.svg" alt="">
                            </div>

                            <div class="fleet__about">
                                <span class="fleet__brand">а/м КамАЗ</span>
                                <span class="fleet__tonnage">со съемным баком и покрывной сеткой вместительность до 8 тонн</span>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>