body {
    margin: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

button {
    padding: 0;
    color: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}

button,
input,
textarea,
fieldset {
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    border: none;
    border-radius: 0;
    outline: none;
    appearance: none;
    color: inherit;
    background-color: transparent;
}

button {
    cursor: pointer;
}
