html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-Montserrat);
    line-height: 22px;
    font-size: 14px;
    font-weight: 500;
    overflow-x: hidden;
    background-color: var(--color-white, #fff);
}

* {
    &::-webkit-scrollbar {
        width: var(--scrollbar-width);
        height: var(--scrollbar-width);
    }
    &::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color);
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
    }
    &::-webkit-resizer,
    &::-webkit-scrollbar-button,
    &::-webkit-scrollbar-corner {
        display: none;
    }
}

.picture {

    &_full-width {
        img {
            width: 100%;
        }
    }

    &_background {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        z-index: -1;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

.svg-mask-sprite {
    position: absolute;
    z-index: -9999;
}

.section {
    margin-bottom: 100px;

    @include media(max, desktop) {
        margin-bottom: 70px;
    }

    @include media(max, tablet) {
        margin-bottom: 60px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &_bordered {
        .container {
            position: relative;
            padding-bottom: 100px;

            @include media(max, desktop) {
                padding-bottom: 70px;
            }

            @include media(max, tablet) {
                padding-bottom: 60px;
            }

            &::before {
                content: "";
                position: absolute;
                left: var(--container-gutter-x);
                right: var(--container-gutter-x);
                bottom: 0;
                height: 1px;
                background-color: rgba($color: #98a4ae, $alpha: 0.5);

                @include media(max, desktop) {
                    left: var(--container-t-gutter-x);
                    right: var(--container-t-gutter-x);
                }

                @include media(max, tablet) {
                    left: var(--container-m-gutter-x);
                    right: var(--container-m-gutter-x);
                }
            }
        }
    }
}

.link-card {
    display: block;
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}

.text-overflow {
    text-overflow: ellipsis;

    overflow: hidden;
    display: -webkit-box;

    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.link-card:hover .link-arrow,
.link-arrow:hover {
    color: var(--color-green);

    &::after {
        opacity: 0;
    }

    &::before {
        opacity: 1;
    }
}

.link-arrow {
    position: relative;
    padding-right: 23px;
    transition: all 0.2s ease;
    text-decoration: none !important;
    color: inherit;
    &::after,
    &::before {
        position: absolute;
        content: "";
        right: 0;
        top: calc(50% - 13px / 2);
        width: 13px;
        height: 13px;
        transition: inherit;
    }

    &::before {
        background-image: url('data:image/svg+xml,<svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2420_1686)"><path d="M2 2.5L11.1924 11.6924" stroke="%2318984E" stroke-width="1.2" stroke-linecap="square"/><path d="M11.4854 3.5V11.9853H3.00007" stroke="%2318984E" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/></g><defs><clipPath id="clip0_2420_1686"><rect width="13" height="13" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>');
        opacity: 0;
    }
    &::after {
        background-image: url('data:image/svg+xml,<svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2412_193)"><path d="M2 2.5L11.1924 11.6924" stroke="black" stroke-width="1.2" stroke-linecap="square"/><path d="M11.4853 3.5V11.9853H3.00001" stroke="black" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/></g><defs><clipPath id="clip0_2412_193"><rect width="13" height="13" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>');
    }

    &_green {
        color: var(--color-green);

        &:hover {
            color: var(--color-black);
        }

        &::before {
            background-image: url('data:image/svg+xml,<svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2412_193)"><path d="M2 2.5L11.1924 11.6924" stroke="black" stroke-width="1.2" stroke-linecap="square"/><path d="M11.4853 3.5V11.9853H3.00001" stroke="black" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/></g><defs><clipPath id="clip0_2412_193"><rect width="13" height="13" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>');
        }

        &::after {
            background-image: url('data:image/svg+xml,<svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(%23clip0_2420_1686)"><path d="M2 2.5L11.1924 11.6924" stroke="%2318984E" stroke-width="1.2" stroke-linecap="square"/><path d="M11.4854 3.5V11.9853H3.00007" stroke="%2318984E" stroke-width="1.2" stroke-linecap="square" stroke-linejoin="round"/></g><defs><clipPath id="clip0_2420_1686"><rect width="13" height="13" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>');
        }
    }
}

.btn {
    min-height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 157%;
    text-align: center;
    border-radius: 100px;
    white-space: nowrap;
    text-decoration: none !important;

    @include media(max, desktop) {
        min-height: 50px;
        padding: 14px 20px;
    }

    @include media(max, tablet) {
        // min-height: 40px;
        padding: 9px 15px;
        font-size: 12px;
        line-height: 1.5;
    }

    &:hover {
        text-decoration: none;
    }
}

.btn_round {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-decoration: none;

    @include media(max, desktop) {
        width: 50px;
        height: 50px;
    }

    &:hover {
        text-decoration: none;
    }
}

.btn_follow {
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_4204_1443)'%3E%3Cpath d='M3 3L12.1924 12.1924' stroke='white' stroke-width='1.2' stroke-linecap='square' /%3E%3Cpath d='M12.4854 4V12.4853H4.00007' stroke='white' stroke-width='1.2' stroke-linecap='square' stroke-linejoin='round' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4204_1443'%3E%3Crect width='15' height='15' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        pointer-events: none;
    }
}

.btn_close_green {
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: "";
        width: 15px;
        height: 15px;
        flex-shrink: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1411_25377)'%3E%3Cpath d='M2.6967 2.3033L8 7.6066M13.3033 12.9099L8 7.6066M8 7.6066L13.3033 2.3033M8 7.6066L2.6967 12.9099' stroke='white' stroke-width='2' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1411_25377'%3E%3Crect width='15' height='15' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        pointer-events: none;
    }
}

.btn_close_white {
    position: relative;
    background-color: var(--color-white, #fff);
    transition: color 0.2s ease, background-color 0.2s ease;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 15px;
        height: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: opacity 0.2s ease-in-out;
        pointer-events: none;
    }

    &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1411_25386)'%3E%3Cpath d='M2.6967 2.3033L8 7.6066M13.3033 12.9099L8 7.6066M8 7.6066L13.3033 2.3033M8 7.6066L2.6967 12.9099' stroke='%2398A4AE' stroke-width='2' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1411_25386'%3E%3Crect width='15' height='15' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    &::after {
        opacity: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_1866_73533)'%3E%3Cpath d='M2.6967 2.3033L8 7.6066M13.3033 12.9099L8 7.6066M8 7.6066L13.3033 2.3033M8 7.6066L2.6967 12.9099' stroke='white' stroke-width='2' /%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1866_73533'%3E%3Crect width='15' height='15' fill='white' /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-green, #18984e);

            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }
    }
}

.btn_next_grey,
.btn_prev_grey {
    position: relative;
    background-color: #f0f2f4;
    transition: color 0.2s ease, background-color 0.2s ease;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 11px;
        height: 9px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        transition: opacity 0.2s ease-in-out;
        pointer-events: none;
    }

    &::before {
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8536 4.85355C11.0488 4.65829 11.0488 4.34171 10.8536 4.14645L7.67157 0.964467C7.47631 0.769205 7.15973 0.769205 6.96447 0.964467C6.7692 1.15973 6.7692 1.47631 6.96447 1.67157L9.79289 4.5L6.96447 7.32843C6.7692 7.52369 6.7692 7.84027 6.96447 8.03553C7.15973 8.2308 7.47631 8.2308 7.67157 8.03553L10.8536 4.85355ZM0.5 5L10.5 5L10.5 4L0.5 4L0.5 5Z' fill='black' /%3E%3C/svg%3E");
    }

    &::after {
        opacity: 0;
        background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8536 4.85355C11.0488 4.65829 11.0488 4.34171 10.8536 4.14645L7.67157 0.964467C7.47631 0.769205 7.15973 0.769205 6.96447 0.964467C6.7692 1.15973 6.7692 1.47631 6.96447 1.67157L9.79289 4.5L6.96447 7.32843C6.7692 7.52369 6.7692 7.84027 6.96447 8.03553C7.15973 8.2308 7.47631 8.2308 7.67157 8.03553L10.8536 4.85355ZM0.5 5L10.5 5L10.5 4L0.5 4L0.5 5Z' fill='white' /%3E%3C/svg%3E");
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-green, #18984e);

            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }
    }
}

.btn_prev_grey {
    &::before,
    &::after {
        transform: translate(-50%, -50%) rotate(180deg);
    }
}

.btn_phone {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.8167 21.2377C8.66748 21.6565 1.85415 11.2831 2.80077 6.22175C3.66931 4.7293 4.78257 3.62391 6.27252 2.75L9.51304 7.20123L7.86965 10.0553C7.86965 10.0553 8.32344 11.9607 10.0314 13.6686C11.824 15.4612 13.8236 16.0093 13.8236 16.0093L16.6777 14.3659L21.2885 17.7659C20.4307 19.2985 19.3492 20.3799 17.8167 21.2377Z' stroke='white' stroke-width='2' stroke-linecap='square' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.btn_white {
    color: var(--color-black, #000000);
    background-color: var(--color-white, #fff);
    transition: color 0.2s ease, background-color 0.2s ease;

    @media (hover: hover) {
        &:hover {
            color: var(--color-white, #fff);
            background-color: var(--color-grey, #98a4ae);
        }
    }
}

.btn_white_to_green {
    color: var(--color-black, #000000);
    background-color: var(--color-white, #fff);
    transition: color 0.2s ease, background-color 0.2s ease;

    @media (hover: hover) {
        &:hover {
            color: var(--color-white, #fff);
            background-color: var(--color-green-hover, #0c8640);
        }
    }
}

.btn_green {
    color: var(--color-white, #fff);
    background-color: var(--color-green, #18984e);
    transition: background-color 0.2s ease;

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-green-hover, #0c8640);
        }
    }
}

.btn_grey {
    color: var(--color-white, #fff);
    background-color: var(--color-grey, #98a4ae);
    transition: background-color 0.2s ease;

    @media (hover: hover) {
        &:hover {
            background-color: #8596a3;
        }
    }
}

.btn_orange {
    color: var(--color-white, #fff);
    background-color: var(--color-yellow, #ffb81c);
    transition: background-color 0.2s ease;

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-yellow-hover, #f6a900);
        }
    }
}

.btn_gradient {
    position: relative;
    color: var(--color-white, #fff);
    border: 1px solid var(--color-white, #fff);
    overflow: hidden;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        // z-index: -1;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        background: transparent
            linear-gradient(
                -90deg,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 0.5) 100%
            );
        transition: transform 0.2s ease-out;
    }

    @media (hover: hover) {
        &:hover {
            &::after {
                transform: translateX(0);
            }
        }
    }
}

.btn_download_white {
    border: 1px solid rgba(152, 164, 174, 0.3);
    backdrop-filter: blur(30px);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 10px;

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        z-index: -1;
        left: -100%;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, #f0f2f4 0%, #f0f2f4 100%);
        transform: translateX(0);
        transition: transform 0.2s ease-out;
    }

    &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 2L10 14' stroke='%2300816D' stroke-width='2' stroke-linecap='square' /%3E%3Cpath d='M16 9L10 15L4 9' stroke='%2300816D' stroke-width='2' stroke-linecap='square' stroke-linejoin='round' /%3E%3Cpath d='M18 19L2 19' stroke='%2300816D' stroke-width='2' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    @media (hover: hover) {
        &:hover {
            &::after {
                transform: translateX(100%);
            }
        }
    }
}

.btn_play {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &::before {
        margin-left: 3px;
        content: '';
        display: block;
        width: 15px;
        height: 14px;
        background-image: url('data:image/svg+xml,<svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 7L1 1V13L13 7Z" stroke="white" stroke-width="1.2"/></svg>');
    }
}

.btn_download_gradient,
.btn_download_grey {
    justify-content: center;
    align-items: center;
    gap: 0 10px;

    &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10 2L10 14' stroke='white' stroke-width='2' stroke-linecap='square' /%3E%3Cpath d='M16 9L10 15L4 9' stroke='white' stroke-width='2' stroke-linecap='square' stroke-linejoin='round' /%3E%3Cpath d='M18 19L2 19' stroke='white' stroke-width='2' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
.pretitle {
    display: flex;
    align-items: baseline;
    gap: 10px;
    margin-bottom: 20px;

    @include media(max, tablet) {
        margin-bottom: 10px;
    }

    &::before {
        content: "";
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: var(--color-yellow);
        border-radius: 50%;
        vertical-align: baseline;
    }
}

.glassy-card {
    position: relative;
    padding: 2px;

    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: inherit;
    }

    &::before {
        background: linear-gradient(
            198deg,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 0) 33.89%
        );
    }

    &::after {
        background: linear-gradient(
            1deg,
            rgba(255, 255, 255, 0.6) -17.36%,
            rgba(239, 239, 239, 0) 15.78%
        );
    }

    &__wrapper {
        height: 100%;
        position: relative;
        z-index: 2;
        backdrop-filter: blur(140px);
        -webkit-backdrop-filter: blur(140px);
        border-radius: calc(var(--border-radius) - 1px);
    }
}

.block_with_bottom_line {
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(152, 164, 174, 0.5);

    @include media(max, desktop) {
        padding-bottom: 70px;
    }

    @include media(max, tablet) {
        padding-bottom: 60px;
    }
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.we-in-socials {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    background-color: rgba($color: #fff, $alpha: .2);
    border-radius: 40px;

    &__text {
        margin: 0 23px;
    }

    &__link {
        position: relative;
        width: 65px;
        height: 65px;
        background-color: var(--color-white);
        border-radius: 50%;
        margin-right: 8px;
        transition: all .2s ease;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: var(--color-green);
            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }

        &_vk {
            &::before {
                background-image: url('data:image/svg+xml,<svg width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M41.1329 30.1272C41.2441 29.7657 41.1329 29.5 40.6035 29.5H38.8531C38.408 29.5 38.2028 29.7295 38.0916 29.9825C38.0916 29.9825 37.2015 32.0977 35.9404 33.4716C35.5325 33.8693 35.3471 33.9958 35.1245 33.9958C35.0132 33.9958 34.8522 33.8693 34.8522 33.5078V30.1272C34.8522 29.6933 34.723 29.5 34.3521 29.5H31.6014C31.3232 29.5 31.1559 29.7014 31.1559 29.8922C31.1559 30.3035 31.7865 30.3984 31.8515 31.5553V34.0682C31.8515 34.6191 31.7495 34.7191 31.5269 34.7191C30.9335 34.7191 29.4901 32.5944 28.634 30.1634C28.4662 29.6909 28.2979 29.5 27.8505 29.5H26.1001C25.6 29.5 25.5 29.7295 25.5 29.9825C25.5 30.4345 26.0934 32.6762 28.263 35.641C29.7095 37.6656 31.7475 38.7632 33.6019 38.7632C34.7145 38.7632 34.8522 38.5194 34.8522 38.0995V36.5693C34.8522 36.0817 34.9576 35.9845 35.3099 35.9845C35.5695 35.9845 36.0146 36.111 37.0531 37.0871C38.24 38.2442 38.4356 38.7632 39.1032 38.7632H40.8536C41.3537 38.7632 41.6038 38.5194 41.4595 38.0383C41.3017 37.5588 40.7349 36.8632 39.9831 36.0387C39.5752 35.5686 38.9631 35.0625 38.7777 34.8094C38.518 34.4839 38.5923 34.3393 38.7777 34.05C38.7777 34.05 40.9103 31.1215 41.1329 30.1272Z" fill="%2318984E"/></svg>');
            }

            &::after {
                background-image: url('data:image/svg+xml,<svg width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M41.1329 30.1272C41.2441 29.7657 41.1329 29.5 40.6035 29.5H38.8531C38.408 29.5 38.2028 29.7295 38.0916 29.9825C38.0916 29.9825 37.2015 32.0977 35.9404 33.4716C35.5325 33.8693 35.3471 33.9958 35.1245 33.9958C35.0132 33.9958 34.8522 33.8693 34.8522 33.5078V30.1272C34.8522 29.6933 34.723 29.5 34.3521 29.5H31.6014C31.3232 29.5 31.1559 29.7014 31.1559 29.8922C31.1559 30.3035 31.7865 30.3984 31.8515 31.5553V34.0682C31.8515 34.6191 31.7495 34.7191 31.5269 34.7191C30.9335 34.7191 29.4901 32.5944 28.634 30.1634C28.4662 29.6909 28.2979 29.5 27.8505 29.5H26.1001C25.6 29.5 25.5 29.7295 25.5 29.9825C25.5 30.4345 26.0934 32.6762 28.263 35.641C29.7095 37.6656 31.7475 38.7632 33.6019 38.7632C34.7145 38.7632 34.8522 38.5194 34.8522 38.0995V36.5693C34.8522 36.0817 34.9576 35.9845 35.3099 35.9845C35.5695 35.9845 36.0146 36.111 37.0531 37.0871C38.24 38.2442 38.4356 38.7632 39.1032 38.7632H40.8536C41.3537 38.7632 41.6038 38.5194 41.4595 38.0383C41.3017 37.5588 40.7349 36.8632 39.9831 36.0387C39.5752 35.5686 38.9631 35.0625 38.7777 34.8094C38.518 34.4839 38.5923 34.3393 38.7777 34.05C38.7777 34.05 40.9103 31.1215 41.1329 30.1272Z" fill="white"/></svg>');
            }
        }

        &_tg {
            &::before {
                background-image: url('data:image/svg+xml,<svg width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M37.9038 40.8723C38.139 41.0389 38.4422 41.0805 38.7125 40.9782C38.9828 40.8752 39.1815 40.6444 39.2415 40.3645C39.8763 37.3808 41.4164 29.8287 41.9942 27.1146C42.0381 26.91 41.965 26.6974 41.8043 26.5608C41.6436 26.4242 41.4207 26.3847 41.222 26.4585C38.1587 27.5924 28.7249 31.1321 24.8689 32.5589C24.6242 32.6495 24.4649 32.8848 24.4729 33.1427C24.4817 33.4013 24.6556 33.6256 24.9062 33.7008C26.6354 34.2181 28.9053 34.9377 28.9053 34.9377C28.9053 34.9377 29.9661 38.1414 30.5192 39.7706C30.5886 39.9751 30.7486 40.1359 30.9597 40.1914C31.1701 40.2462 31.3951 40.1885 31.5522 40.0402C32.4406 39.2015 33.814 37.9047 33.814 37.9047C33.814 37.9047 36.4236 39.8181 37.9038 40.8723ZM29.8602 34.533L31.0868 38.579L31.3593 36.0168C31.3593 36.0168 36.0985 31.7421 38.8002 29.3056C38.8791 29.234 38.89 29.1142 38.8243 29.0302C38.7593 28.9462 38.6395 28.9264 38.5496 28.9834C35.4184 30.9831 29.8602 34.533 29.8602 34.533Z" fill="%2318984E"/></svg>');
            }

            &::after {
                background-image: url('data:image/svg+xml,<svg width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M37.9038 40.8723C38.139 41.0389 38.4422 41.0805 38.7125 40.9782C38.9828 40.8752 39.1815 40.6444 39.2415 40.3645C39.8763 37.3808 41.4164 29.8287 41.9942 27.1146C42.0381 26.91 41.965 26.6974 41.8043 26.5608C41.6436 26.4242 41.4207 26.3847 41.222 26.4585C38.1587 27.5924 28.7249 31.1321 24.8689 32.5589C24.6242 32.6495 24.4649 32.8848 24.4729 33.1427C24.4817 33.4013 24.6556 33.6256 24.9062 33.7008C26.6354 34.2181 28.9053 34.9377 28.9053 34.9377C28.9053 34.9377 29.9661 38.1414 30.5192 39.7706C30.5886 39.9751 30.7486 40.1359 30.9597 40.1914C31.1701 40.2462 31.3951 40.1885 31.5522 40.0402C32.4406 39.2015 33.814 37.9047 33.814 37.9047C33.814 37.9047 36.4236 39.8181 37.9038 40.8723ZM29.8602 34.533L31.0868 38.579L31.3593 36.0168C31.3593 36.0168 36.0985 31.7421 38.8002 29.3056C38.8791 29.234 38.89 29.1142 38.8243 29.0302C38.7593 28.9462 38.6395 28.9264 38.5496 28.9834C35.4184 30.9831 29.8602 34.533 29.8602 34.533Z" fill="white"/></svg>');
            }
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transition: inherit;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        &::after {
            opacity: 0;
        }
    }
}

.tags-container {
    overflow-x: auto;
    overflow-y: hidden;

    @include media(max, tablet) {
        margin-left: calc(var(--container-m-gutter-x) * -1);
        width: calc(100% + var(--container-m-gutter-x) * 2);
        
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.tag-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    
    @include media(max, tablet) {
        flex-wrap: nowrap;
        padding: 0 var(--container-m-gutter-x);
        min-width: max-content;
    }

    &__link {
        display: inline-block;
        padding: 4px 14px;
        color: var(--color-grey);
        background-color: var(--color-grey1);
        border-radius: 50px;
        white-space: nowrap;
        text-decoration: none !important;

        &.active,
        &:hover {
            color: var(--color-white);
            background-color: var(--color-green);
        }
    }
}

.certificate-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgba($color: #98A4AE, $alpha: .5);

    @include media(max, desktop) {
        margin-bottom: 30px;
        padding-bottom: 30px;

        &:first-child {
            padding-top: 30px;
            border-top: 1px solid rgba($color: #98A4AE, $alpha: .5);
        }
    }

    &:last-child {
        margin-bottom: 0;
        
        @include media(min, desktop) {
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}