.video-card {
    display: flex;
    flex-direction: column;
    gap: 20px;

    picture {
        display: flex;

        img {
            width: 100%;
        }
    }

    &__trigger {
        position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 60px;
            height: 60px;
            left: calc(50% - 60px / 2);
            top: calc(50% - 60px / 2);

            background-image: url('data:image/svg+xml,<svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="30" cy="30" r="30" fill="%2318984E"/><path d="M43.1818 29.7727L23.0682 41.3854V18.1601L43.1818 29.7727Z" fill="white"/></svg>');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            z-index: 2;
        }

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: .3);
            
            transition:  all .2s ease-in;
            opacity: 0;
        }

        &:hover::before {
            opacity: 1;
        }
    }

    &__title {
        max-width: 100%;
        display: flex;
        line-height: 20px;
        
        &_vk {
            &::before {
                content: '';
                display: inline-block;
                margin-right: 15px;
                min-width: 20px;
                height: 20px;

                background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="20" height="20" rx="10" fill="%2318984E"/><path fill-rule="evenodd" clip-rule="evenodd" d="M13.8165 8.31361C13.872 8.13285 13.8164 8 13.5518 8H12.6766C12.454 8 12.3514 8.11475 12.2958 8.24127C12.2958 8.24127 11.8507 9.29885 11.2202 9.98579C11.0162 10.1846 10.9235 10.2479 10.8122 10.2479C10.7566 10.2479 10.6761 10.1846 10.6761 10.0039V8.31361C10.6761 8.09665 10.6115 8 10.426 8H9.05071C8.91162 8 8.82797 8.10068 8.82797 8.19611C8.82797 8.40173 9.14323 8.4492 9.17574 9.02766V10.2841C9.17574 10.5596 9.12473 10.6095 9.01345 10.6095C8.71676 10.6095 7.99503 9.54719 7.56699 8.33171C7.4831 8.09543 7.39895 8 7.17527 8H6.30007C6.05001 8 6 8.11475 6 8.24127C6 8.46724 6.29669 9.58808 7.38151 11.0705C8.10474 12.0828 9.12373 12.6316 10.0509 12.6316C10.6073 12.6316 10.6761 12.5097 10.6761 12.2998V11.5346C10.6761 11.2909 10.7288 11.2422 10.905 11.2422C11.0347 11.2422 11.2573 11.3055 11.7765 11.7936C12.37 12.3721 12.4678 12.6316 12.8016 12.6316H13.6768C13.9269 12.6316 14.0519 12.5097 13.9797 12.2692C13.9008 12.0294 13.6175 11.6816 13.2416 11.2693C13.0376 11.0343 12.7316 10.7813 12.6389 10.6547C12.509 10.492 12.5462 10.4196 12.6389 10.275C12.6389 10.275 13.7052 8.81077 13.8165 8.31361Z" fill="white"/></svg>');
            }
        }

        span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &_white {
        color: var(--color-white);

        .video-card__title_vk::before {
            background-image: url('data:image/svg+xml,<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="20" height="20" rx="10" fill="white" fill-opacity="0.3"/><path fill-rule="evenodd" clip-rule="evenodd" d="M13.8165 8.31361C13.872 8.13285 13.8164 8 13.5518 8H12.6766C12.454 8 12.3514 8.11475 12.2958 8.24127C12.2958 8.24127 11.8507 9.29885 11.2202 9.98579C11.0162 10.1846 10.9235 10.2479 10.8122 10.2479C10.7566 10.2479 10.6761 10.1846 10.6761 10.0039V8.31361C10.6761 8.09665 10.6115 8 10.426 8H9.05071C8.91162 8 8.82797 8.10068 8.82797 8.19611C8.82797 8.40173 9.14323 8.4492 9.17574 9.02766V10.2841C9.17574 10.5596 9.12473 10.6095 9.01345 10.6095C8.71676 10.6095 7.99503 9.54719 7.56699 8.33171C7.4831 8.09543 7.39895 8 7.17527 8H6.30007C6.05001 8 6 8.11475 6 8.24127C6 8.46724 6.29669 9.58808 7.38151 11.0705C8.10474 12.0828 9.12373 12.6316 10.0509 12.6316C10.6073 12.6316 10.6761 12.5097 10.6761 12.2998V11.5346C10.6761 11.2909 10.7288 11.2422 10.905 11.2422C11.0347 11.2422 11.2573 11.3055 11.7765 11.7936C12.37 12.3721 12.4678 12.6316 12.8016 12.6316H13.6768C13.9269 12.6316 14.0519 12.5097 13.9797 12.2692C13.9008 12.0294 13.6175 11.6816 13.2416 11.2693C13.0376 11.0343 12.7316 10.7813 12.6389 10.6547C12.509 10.492 12.5462 10.4196 12.6389 10.275C12.6389 10.275 13.7052 8.81077 13.8165 8.31361Z" fill="white"/></svg>');
        }
    }

    &_small {
        .video-card__trigger::after {
            width: 40px;
            height: 40px;
            left: calc(50% - 40px / 2);
            top: calc(50% - 40px / 2);
            
        }
    }
}