.news-card {
    color: var(--color-black);

    &:hover {
        .news-card__title {
            color: var(--color-green);
        }
    }

    &__title {
        transition: all .2s ease;
    }

    &__date {
        margin-top: 40px;
        color: var(--color-grey);
    }
}