.innovation-card {
    &__wrapper {
        padding: 40px 34px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }

    &__title {
        font-size: 20px;
        line-height: 28px;

        margin-top: 60px;
    }
}