.tabs-angle {
    border-bottom: none;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    @include media(max, desktop) {
        gap: 10px;
    }

    @include media(max, tablet) {
        position: relative;
        width: 100%;
        flex-direction: row;
        gap: 30px; 
        overflow-x: auto;
        overflow-y: hidden;
        padding-bottom: 3px;

        &::-webkit-scrollbar {
            display: none;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 2px;
            width: 100%;
            height: 1px;
            background-color: var(--color-grey);  
        }
    }

    &__link[role=tab] {
        padding: 0 0 0 30px;
        border: none !important;
        border-radius: 0 !important;
        background-color: transparent !important;

        position: relative;
        color: var(--color-grey);
        transition: all .2s ease;

        @include media(max, tablet) {
            padding: 0 0 20px 0;
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            width: 15px;
            height: 15px;
            left: 0;
            top: calc(50% - 15px / 2);

            transition: inherit;

            @include media(max, tablet) {
                top: calc(100% - 1px);
                width: 100%;
                height: 3px;
                border-radius: 50px;
                z-index: 1;
            }
        }

        &::before {
            background-image: url('data:image/svg+xml,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 11L5 7.5L9 4" stroke="%2398A4AE" stroke-linecap="square" stroke-linejoin="round"/></svg>');
            @include media(max, tablet) {
                background: transparent;
            }
        }

        &::after {
            background-image: url('data:image/svg+xml,<svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9 11L5 7.5L9 4" stroke="black" stroke-linecap="square" stroke-linejoin="round"/></svg>');
            opacity: 0;

            @include media(max, tablet) {
                background: #00816D;
            }
        }

        &[aria-selected="true"],
        &:hover {
            text-decoration: none;
            color: var(--color-black);

            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }
    }
}

.tabs-default {
    overflow-x: auto;
    overflow-y: hidden;
    margin-bottom: 40px;

    &::-webkit-scrollbar {
        display: none;
    }
    
    &__list {
        position: relative;
        display: flex;
        gap: 30px;
        padding-bottom: 3px;
        min-width: max-content;

        border: none;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 1px;
            width: 100%;
            height: 1px;
            background-color: rgba($color: #98A4AE, $alpha: .7);
        }
    }

    &__link {
        height: 100%;
        padding: 0 0 15px 0;
        position: relative;
        color: var(--color-grey);
        white-space: nowrap;
        
        border: none !important;
        background-color: transparent !important;
        border-radius: 0 !important;
        text-decoration: none !important;

        @include media(max, desktop) {
            padding-bottom: 10px;
        }

        &[aria-selected="true"] {
            color: var(--color-black);
            
            &::after {
                content: '';
                position: absolute;
                bottom: -3px;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: rgba($color: #00816D, $alpha: .7);
                border-radius: 100px;
             }
        }
    }
}