{% macro divisionsSection(input_name = 'city') %}

    <section class="divisions section">
        <div class="container">

            <div class="divisions__top">

                <h2 class="divisions__title">Пункты приема</h2>

                <p class="divisions__subtitle h2">Производственно-заготовительные предприятия
                </p>

            </div>

            {% set cities_list = [
            {
                name: 'Москва',
                value: 'Moscow',
                isChecked: true
            },
            {
                name: 'Санкт-Петербург',
                value: 'StPetersburg',
                isChecked: false
            },
            {
                name: 'Краснодар',
                value: 'Krasnodar',
                isChecked: false
            },
            {
                name: 'Петрозаводск',
                value: 'Petrozavodsk',
                isChecked: false
            }
        ] %}

            <div class="divisions__wrapper">

                <div class="divisions__panel hidescrollbar">

                    <fieldset class="divisions__cities hidescrollbar">

                        {% for item in cities_list %}

                            <label class="divisions_clabel">

                                <input type="radio" class="divisions__cinput" name="{{ input_name }}" value="{{ item.value }}" {% if item.isChecked %} checked {% endif %}/>

                                <span>{{ item.name }}</span>

                            </label>

                        {% endfor %}


                    </fieldset>

                </div>


                <div class="divisions__tabs">

                    {% for item in cities_list %}


                        <fieldset class="divisions__groups {% if item.isChecked %} active {% endif %}" data-value="{{ item.value }}">

                            <div class="divisions__item">
                                <label class="divisions_glabel">

                                    <input type="radio" class="divisions__ginput" name="office-{{ item.value }}-{{ input_name }}" value="Caucasian" checked/>

                                    <span>Кавказский бул., д. 52А</span>

                                </label>

                                <a href="#" class="divisions__arrow_link">Смотреть на карте</a>
                            </div>

                            <div class="divisions__item">
                                <label class="divisions_glabel">

                                    <input type="radio" class="divisions__ginput" name="office-{{ item.value }}-{{ input_name }}" value="Solnechnogorsky"/>

                                    <span>Солнечногорский пр., д. 4А</span>


                                </label>
                                <a href="#" class="divisions__arrow_link">Смотреть на карте</a>
                            </div>

                            <div class="divisions__item">
                                <label class="divisions_glabel">

                                    <input type="radio" class="divisions__ginput" name="office-{{ item.value }}-{{ input_name }}" value="Izmailovsky"/>

                                    <span>1-я ул. Измайловского, Зверинца, д. 19А</span>


                                </label>
                                <a href="#" class="divisions__arrow_link">Смотреть на карте</a>
                            </div>

                            <div class="divisions__item">
                                <label class="divisions_glabel">

                                    <input type="radio" class="divisions__ginput" name="office-{{ item.value }}-{{ input_name }}" value="Batiuninsky"/>

                                    <span>Батюнинский пр., д. 25</span>


                                </label>
                                <a href="#" class="divisions__arrow_link">Смотреть на карте</a>
                            </div>

                            <div class="divisions__item">
                                <label class="divisions_glabel">

                                    <input type="radio" class="divisions__ginput" name="office-{{ item.value }}-{{ input_name }}" value="Dorohova"/>

                                    <span>Ул. Генерала Дорохова, д. 18Б</span>


                                </label>
                                <a href="#" class="divisions__arrow_link">Смотреть на карте</a>
                            </div>

                            <div class="divisions__item">
                                <label class="divisions_glabel">

                                    <input type="radio" class="divisions__ginput" name="office-{{ item.value }}-{{ input_name }}" value="Mytishchi"/>

                                    <span>МО, г. Мытищи,, ул. Силикатная, д. 19</span>


                                </label>
                                <a href="#" class="divisions__arrow_link">Смотреть на карте</a>
                            </div>


                        </fieldset>

                    {% endfor %}

                </div>


                <div class="divisions__map">
                    <img src="/assets/img/map.jpg" alt=""/>
                </div>
            </div>

        </div>
    </section>

{% endmacro %}