<section class="section section_bordered section-cooperation">
    <div class="container">
        <h2 class="section-cooperation__title h2">
            Сотрудничество <br>
            с нами
        </h2>
        <div class="cooperation-tabs">
            <div class="cooperation-tabs__content">
                <div class="cooperation-tabs__item" id="for-clients">
                    <p class="cooperation-tabs__item-title">Сотрудничество с нами</p>
                    <p>С нами вы убедитесь — упаковка должна и может быть не только прочной, позволяющей рационально использовать пространство на складах и в торговых складах, но и красивой, привлекающей внимание, соответствующей идее продукта. По вашему заказу изготовим четырехклапанные коробки или упаковку со сложной высечкой и многоточечной склейкой, готовую к выкладке (SPR), одноцветную или с нанесением принтов.</p>
                    <a class="cooperation-tabs__btn btn btn_orange" href="#">Связаться с нами</a>
                </div>
                <div class="cooperation-tabs__item" id="for-partners">
                    <p class="cooperation-tabs__item-title">Партнерам</p>
                    <p>С нами вы убедитесь — упаковка должна и может быть не только прочной, позволяющей рационально использовать пространство на складах и в торговых складах, но и красивой, привлекающей внимание, соответствующей идее продукта. По вашему заказу изготовим четырехклапанные коробки или упаковку со сложной высечкой и многоточечной склейкой, готовую к выкладке (SPR), одноцветную или с нанесением принтов.</p>
                    <a class="cooperation-tabs__btn btn btn_orange" href="#">Связаться с нами</a>
                </div>
                <div class="cooperation-tabs__item" id="for-employees">
                    <p class="cooperation-tabs__item-title">Сотрудникам</p>
                    <p>С нами вы убедитесь — упаковка должна и может быть не только прочной, позволяющей рационально использовать пространство на складах и в торговых складах, но и красивой, привлекающей внимание, соответствующей идее продукта. По вашему заказу изготовим четырехклапанные коробки или упаковку со сложной высечкой и многоточечной склейкой, готовую к выкладке (SPR), одноцветную или с нанесением принтов.</p>
                    <a class="cooperation-tabs__btn btn btn_orange" href="#">Связаться с нами</a>
                </div>
            </div>
            <ul class="cooperation-tabs__list tabs-angle list-reset" data-tabs>
                <li class="tabs-angle__item">
                    <a class="tabs-angle__link" href="#for-clients" data-tabby-default>Клиентам</a>
                </li>
                <li class="tabs-angle__item">
                    <a class="tabs-angle__link" href="#for-partners">Партнерам</a>
                </li>
                <li class="tabs-angle__item">
                    <a class="tabs-angle__link" href="#for-employees">Сотрудникам</a>
                </li>
            </ul>
        </div>
    </div>
</section>