{% from "components/media/image.njk" import image %}

{% macro pageIntro(
    class,
    text,
    title,
    imgFull,
    imgTablet,
    intro_links

) %}

    <section class="page_intro section {{ class }}">
        <div class="page_intro__bg">
            {{ image(
                imgFull,
                ext = 'jpg',
                adaptive = [{
                    breakpoint: 'tablet',
                    src: imgTablet,
                    ext: 'jpg'
                }],
                width = '1440',
                height = '800'
            ) }}
        </div>
        <div class="container">

            <div class="page_intro__card glassy-card">

                <div class="page_intro__card_wrapper glassy-card__wrapper">

                    <div class="page_intro__icon"></div>

                    <div class="page_intro__text">
                        {{ text }}
                    </div>

                </div>

            </div>

            <h1 class="page_intro__title">{{ title }}</h1>


        </div>

        <div class="container page_intro__container">

            <div class="page_intro__bottom">
                <a href="#next-section" class="page_intro__next btn_gradient btn_follow" aria-label="Перейти к следующему блоку"></a>

                <div class="page_intro__nav hidescrollbar">

                    <ul class="page_intro__list list-reset">

                        {% for item in intro_links %}

                            <li>
                                <a href="#{{ item.href }}" class="page_intro__link page_intro__link_{{ item.href }} btn btn_gradient ">{{ item.name }}</a>
                            </li>

                        {% endfor %}

                    </ul>

                </div>

            </div>

        </div>
    </section>
{% endmacro %}