<div class="cycle">
    <div class="container">

        <div class="cycle__container">

            <p class="cycle_text">Макулатура, которую Вы сдаёте, станет новой упаковкой</p>

            <div class="cycle__inner">


                <div class="cycle__items">
                    <div class="cycle__item">
                        <div class="cycle__icon"></div>
                        <span class="cycle__about">Потребитель, магазин</span>
                    </div>

                    <div class="cycle__item">
                        <div class="cycle__icon"></div>
                        <span class="cycle__about">Заготовка макулатуры</span>
                    </div>

                    <div class="cycle__item">
                        <div class="cycle__icon"></div>
                        <span class="cycle__about">Завод (бумажная фабрика)</span>
                    </div>

                    <div class="cycle__item">
                        <div class="cycle__icon"></div>
                        <span class="cycle__about">Новая продукция</span>
                    </div>
                </div>

                <div class="cycle__arrows"></div>

                <div class="cycle_bg">
                    <span></span>
                </div>


            </div>
        </div>

    </div>
</div>