<table class="table">
    <thead class="thead">
        <tr class="trow__top">
            <th>Наименование показателя</th>
            <th colspan="5">Нормы на картон для плоских слоев гофрированного картона</th>
        </tr>
    </thead>
    <tbody class="tbody">
        <tr class="trow__regular">
            <th>Масса картона площадью 1 м2, г</th>
            <td>120</td>
            <td>135</td>
            <td>150</td>
            <td>170</td>
            <td>200</td>
        </tr>
        <tr class="trow__regular">
            <th>Отклонение массы, г</th>
            <td>±3</td>
            <td>±5</td>
            <td>±5</td>
            <td>±5</td>
            <td>±5</td>
        </tr>
        <tr class="trow__regular">
            <th>Абсолютное сопротивление продавливанию, кПа, не менее</th>
            <td>370</td>
            <td>410</td>
            <td>450</td>
            <td>490</td>
            <td>540</td>
        </tr>
        <tr class="trow__regular">
            <th>Сопротивление сжатию на коротком расстоянии (SCT CD), в поперечном направлении, кН/м, не менее</th>
            <td>2.45</td>
            <td>2.70</td>
            <td>3.0</td>
            <td>3.45</td>
            <td>3.70</td>
        </tr>
        <tr class="trow__regular">
            <th>Поверхностная впитываемость воды при одностороннем смачивании верхней стороны после термообработки (5 мин. при 110С), Кобб-1800, г/м2, не более</th>
            <td>100</td>
            <td>100</td>
            <td>100</td>
            <td>110</td>
            <td>115</td>
        </tr>
        <tr class="trow__regular">
            <th>Разрушающее усилие(MD) полоски картона шириной 15мм после термообработки (5 мин. при 110С), и намокания в воде 60 с, Н, не более</th>
            <td>14</td>
            <td>17</td>
            <td>20</td>
            <td>25</td>
            <td>30</td>
        </tr>
        <tr class="trow__regular">
            <th>Влажность, %</th>
            <td colspan="5">7<sup>+2-1</sup>
            </td>
        </tr>
        <tr class="trow__bottom">
            <td colspan="6">Производится на ООО “Алексинской БКФ”</td>
        </tr>
    </tbody>
</table>