<footer class="footer footer-light">
    <div class="container">
        <div class="footer__flex">
            <div class="footer__top">
                <img width="190" height="35" class="footer__logo" src="/assets/img/logo.svg" alt="SFT Group">
                <div class="footer__contacts">
                    <div class="footer-phone">
                        <span class="footer-phone__icon btn_round icon btn_phone"></span>
                        <div class="footer-phone__text">
                            <a href="tel:88006009800">8 800 600 98 00</a>
                            <span>Единый справочный центр</span>
                        </div>
                    </div>
                    <a class="footer__download btn btn_download_white" href="#" download>Скачать презентацию</a>
                </div>
            </div>
            <div class="footer__bottom">
                <div class="footer-socials">
                    <ul class="footer-socials__list list-reset">
                        <li>
                            <a href="#" class="footer-socials__item btn_round icon icon-vk"></a>
                        </li>
                        <li>
                            <a href="#" class="footer-socials__item btn_round icon icon-tg"></a>
                        </li>
                    </ul>
                    <span class="footer-socials__text">Мы в соцсетях</span>
                </div>
                <div class="footer-copywriter">
                    <span>© 2023 ООО "Sftgroup"</span>
                    <span>Политика конфиденциальности</span>
                </div>
            </div>
        </div>
    </div>
</footer>