<section class="section main-advantages">
    <div class="container-fluid">
        <div class="main-advantages__slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <a href="#" class="main-advantages-card">
                        <span class="icon icon-box-w"></span>
                        <h3 class="main-advantages-card__title h6">
                            Гофроупаковка
                        </h3>
                        <p class="main-advantages-card__descr">
                            Упаковка для продуктов питания, хрупких предметов, других изделий разных конфигураций из 3-х и 5-слойного гофрокартона
                        </p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="main-advantages-card">
                        <span class="icon icon-spiral-w"></span>
                        <h3 class="main-advantages-card__title h6">Тарный картон</h3>
                        <p class="main-advantages-card__descr">
                            Плоский картон и слои для гофрирования, чтобы защитить товар от повреждений при хранении и транспортировке.
                        </p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="main-advantages-card">
                        <span class="icon icon-recycle-w"></span>
                        <h3 class="main-advantages-card__title h6">Ресайклинг</h3>
                        <p class="main-advantages-card__descr">
                            Принимаем от юридических и физических лиц макулатуру для переработки и использования при изготовлении гофрокартона и изделий из него.
                        </p>
                    </a>
                </div>
                <div class="swiper-slide">
                    <a href="#" class="main-advantages-card">
                        <span class="icon icon-partners-w"></span>
                        <h3 class="main-advantages-card__title h6">Партнерство</h3>
                        <p class="main-advantages-card__descr">
                            Активно участвуем в российских и международных проектах, касающихся защиты окружающей среды, рационального использования ресурсов, цифровизации и развития современных технологий.
                        </p>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
