<section class="about-partners section">
    <div class="container">
        <div class="about-partners__slider swiper">
            <span class="about-partners__pretitle pretitle">Проекты и партнерство</span>
            <h2 class="about-partners__title h3">
                Мы активно участвуем в российских 
                и международных проектах, касающихся защиты окружающей среды, рационального использования ресурсов, цифровизации и развития современных технологий
            </h2>
            <a class="about-partners__link btn btn_orange" href="#">Узнать больше</a>
            <div class="about-partners__head">
                <span class="about-partners__head-title">
                    В числе наших
                    постоянных партнеров
                </span>
                <div class="swiper-buttons-static">
                    <div class="swiper-button-default swiper-button-prev"></div>
                    <div class="swiper-button-default swiper-button-next"></div>
                </div>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="partner-card">
                        <div class="partner-card__icon">
                            <img width="24" height="24" src="/assets/img/about/partners/icon-1.svg" alt="Иконка">
                        </div>
                        <p class="partner-card__text">
                            Торговые марки продуктов <br>
                            питания, гигиенической и <br> 
                            другой продукции
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner-card">
                        <div class="partner-card__icon">
                            <img width="24" height="24" src="/assets/img/about/partners/icon-2.svg" alt="Иконка">
                        </div>
                        <p class="partner-card__text">
                            Wildberries, <br>
                            OZON — ведущие российские маркетплейсы
                        </p>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="partner-card">
                        <div class="partner-card__icon">
                            <img width="24" height="24" src="/assets/img/about/partners/icon-3.svg" alt="Иконка">
                        </div>
                        <p class="partner-card__text">
                            ООО «Архбум», <br>
                            Stora Enso, АО «Группа Илим» и другие компании целлюлозно-бумажной отрасли.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>