<section class="section analytics-graph">
    <div class="container">
        <div class="grid">
            <div class="col-12 col-lg-4">
                <span class="analytics-graph__pretitle pretitle">Ценовой индекс</span>
                <span class="analytics-graph__title">
                    Основные виды <br>
                    ЦБП РФ от Центра системных <br>
                    решений
                </span>
            </div>
            <div class="col-12 col-lg-8">
                <script type="text/javascript" async="" id="widget" data-header="1" data-font="1" data-type="1,2,3" data-color="#379b42" data-period="1,2,3" src="https://liga-pm.ru/widget/?t=js"></script>
                <link rel="stylesheet" type="text/css" href="https://liga-pm.ru/widget/?t=css">
                <div class="js-analytics-graph"></div>
            </div>
        </div>
    </div>
</section>